footer, div.footer {
  height: 96px;
  padding: 20px 0;
  background-color: #a3e4d7;
}

ul.legalstuff,
ul.legalstuff li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.legalstuff li a {
  text-decoration: underline;
}

ul.legalstuff li a:hover {
  color: #1abc9c;
}

ul.social-icon,
ul.social-icon li {
  display: inline;
  margin: 0;
  padding: 0;
}

ul.social-icon li a {
  font-size: 24px;
}

ul.social-icon li span {
  display: inline;
  padding-left: 2%;
}

ul.social-icon li span:hover {
  color: #1abc9c;
}

@media only screen and (max-width:480px) {
  footer, div.footer {
   padding: 20px 0;
  }
      
  ul.legalstuff > li:first-child {
      width: 100%;
  }
}

/* Estilos para phablets y tablets */
@media only screen and (min-width:481px) and (max-width:768px) {    
  footer, div.footer {
   padding: 20px 0;
  }

  ul.legalstuff > li:first-child {
      width: 100%;
  }
}