<!-- FOOTER -->
<div class="footer parent">
    <div class="wrapper">
       <div>
            <div class="col-75 left">
              <ul class="legalstuff">
                  <li id="register">
                      <span>2018&copy;Molarq, Corp.</span>
                  </li>
                  <li>
                      <a href="legal.html" target="_blank">Aviso legal</a>
                  </li>
                  <li>
                      <a href="cookies.html" target="_blank">Cookies</a>
                  </li>
                  <li>
                       <a href="privacy.html" target="_blank">Privacidad</a>
                  </li>
               </ul>
           </div>

           <div class="col-25 right" id="social-icon">
              <ul class="social-icon">
                    <li>
                        <a href="https://www.facebook.com/molarq" target="_blank"><span class="fab fa-facebook-f" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/molarq" target="_blank"><span class="fab fa-twitter" aria-hidden="true"></span></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/molarq" target="_blank"><span class="fab fa-instagram" aria-hidden="true"></span></a>
                    </li>

               </ul>
               
           </div>
       </div>
    </div>
</div>