<main class="parent site-token">
  <div class="wrapper clear">
    <div class="site-vd">
      <video controls>
      <source src="media/licenciado.mp4" type="video/mp4" />
      <source src="media/licenciado.webm" type="video/webm" />
      <source src="media/licenciado.ogv" type="video/ogv" />
      </video>
    </div>

    <div class="site-description">
      <h1>La magia de la arqueología</h1>
      <p>La arqueología (del griego «ἀρχαίος» archaios, viejo o antiguo, y «λόγος» logos, ciencia o estudio) es la ciencia que estudia
      los cambios que se producen desde las sociedades antiguas hasta las actuales, a través de restos materiales dispersos
      en la geografía y conservados a través del tiempo. La arqueología ha sido considerada como una ciencia social y también
      como una variedad de las humanidades. En Estados Unidos, la arqueología es considerada un campo de la antropología.
      La arqueología es una mezcla de descubrimientos de tesoros, junto al paciente trabajo de analistas científicos, y
      junto a la etapa de interpretación, que permite entender qué significaron los elementos descubiertos o explorados en la historia de la humanidad. En consecuencia, la arqueología es tanto una actividad física de campo como una búsqueda y exploración intelectual en el laboratorio.</p>
    </div>

    <div class="site-gallery">
      <h3>Galería de fotos</h3>
      <div class="parent slider">
      <div class="col-75">
        <div id="slider" class="slider-pro">
        <div class="sp-slides">
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
            data-src="http://bqworks.com/slider-pro/images/image1_medium.jpg"
            data-small="http://bqworks.com/slider-pro/images/image1_small.jpg"
            data-medium="http://bqworks.com/slider-pro/images/image1_medium.jpg"
            data-large="http://bqworks.com/slider-pro/images/image1_large.jpg"
            data-retina="http://bqworks.com/slider-pro/images/image1_large.jpg"/>
          </div>
          <div class="sp-slide">
          <img class="sp-image" src="img/blank.gif"
            data-src="http://bqworks.com/slider-pro/images/image2_medium.jpg" 
            data-small="http://bqworks.com/slider-pro/images/image2_small.jpg"
            data-medium="http://bqworks.com/slider-pro/images/image2_medium.jpg"
            data-large="http://bqworks.com/slider-pro/images/image2_large.jpg"
            data-retina="http://bqworks.com/slider-pro/images/image2_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
            data-src="http://bqworks.com/slider-pro/images/image3_medium.jpg" 
            data-small="http://bqworks.com/slider-pro/images/image3_small.jpg"
            data-medium="http://bqworks.com/slider-pro/images/image3_medium.jpg"
            data-large="http://bqworks.com/slider-pro/images/image3_large.jpg"
            data-retina="http://bqworks.com/slider-pro/images/image3_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
            data-src="http://bqworks.com/slider-pro/images/image4_medium.jpg" 
            data-small="http://bqworks.com/slider-pro/images/image4_small.jpg"
            data-medium="http://bqworks.com/slider-pro/images/image4_medium.jpg"
            data-large="http://bqworks.com/slider-pro/images/image4_large.jpg"
            data-retina="http://bqworks.com/slider-pro/images/image4_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
            data-src="http://bqworks.com/slider-pro/images/image5_medium.jpg" 
            data-small="http://bqworks.com/slider-pro/images/image5_small.jpg"
            data-medium="http://bqworks.com/slider-pro/images/image5_medium.jpg"
            data-large="http://bqworks.com/slider-pro/images/image5_large.jpg"
            data-retina="http://bqworks.com/slider-pro/images/image5_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif" 
              data-src="http://bqworks.com/slider-pro/images/image6_medium.jpg" 
              data-small="http://bqworks.com/slider-pro/images/image6_small.jpg"
              data-medium="http://bqworks.com/slider-pro/images/image6_medium.jpg"
              data-large="http://bqworks.com/slider-pro/images/image6_large.jpg"
              data-retina="http://bqworks.com/slider-pro/images/image6_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
              data-src="http://bqworks.com/slider-pro/images/image7_medium.jpg" 
              data-small="http://bqworks.com/slider-pro/images/image7_small.jpg"
              data-medium="http://bqworks.com/slider-pro/images/image7_medium.jpg"
              data-large="http://bqworks.com/slider-pro/images/image7_large.jpg"
              data-retina="http://bqworks.com/slider-pro/images/image7_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
              data-src="http://bqworks.com/slider-pro/images/image8_medium.jpg" 
              data-small="http://bqworks.com/slider-pro/images/image8_small.jpg"
              data-medium="http://bqworks.com/slider-pro/images/image8_medium.jpg"
              data-large="http://bqworks.com/slider-pro/images/image8_large.jpg"
              data-retina="http://bqworks.com/slider-pro/images/image8_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
              data-src="http://bqworks.com/slider-pro/images/image9_medium.jpg" 
              data-small="http://bqworks.com/slider-pro/images/image9_small.jpg"
              data-medium="http://bqworks.com/slider-pro/images/image9_medium.jpg"
              data-large="http://bqworks.com/slider-pro/images/image9_large.jpg"
              data-retina="http://bqworks.com/slider-pro/images/image9_large.jpg"/>
          </div>
          <div class="sp-slide">
            <img class="sp-image" src="img/blank.gif"
              data-src="http://bqworks.com/slider-pro/images/image10_medium.jpg" 
              data-small="http://bqworks.com/slider-pro/images/image10_small.jpg"
              data-medium="http://bqworks.com/slider-pro/images/image10_medium.jpg"
              data-large="http://bqworks.com/slider-pro/images/image10_large.jpg"
              data-retina="http://bqworks.com/slider-pro/images/image10_large.jpg"/>
          </div>
        </div>

        <div class="sp-thumbnails">
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image1_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image2_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image3_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image4_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image5_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image6_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image7_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image8_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image9_thumbnail.jpg"/>
          <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image10_thumbnail.jpg"/>
        </div>
        </div>
<!--                 <div>
    <img class="col-site" src="img/arq.jpg" alt="ark">
</div>
<div>
    <img class="col-site" src="img/arq.jpg" alt="ark">
</div>
<div>
    <img class="col-site" src="img/arq.jpg" alt="ark">
</div>
<div>
    <img class="col-site" src="img/arq.jpg" alt="ark">
</div>
<div>
    <img class="col-site" src="img/arq.jpg" alt="ark">
</div> -->

      <div id="uploadPic" class="col-25 iconosite">
        <span class="fa fa-plus-circle" aria-hidden="true"></span>
      </div>
      </div>
    </div>
  </div>

  <div class="parent site-comments">
  <app-comments></app-comments>
  </div>

  </div>
</main>