<div class="main parent">
  <div class="wrapper">
    <div class="event">
      <div class="header-event parent">
        <div class="title-event col-75">
          <h1>3er Festival de Cine Arqueológico</h1>
        </div>
        <div class="date-event col-25 right valign">
          6 - 8 abril 2018
        </div>
      </div>
      <div class="desc-event">
        <p>
          El III Festival de Cine Arqueológico de Castilla y León reúne en Zamora a 25 cintas de seis nacionalidades. Esta tercera
          edición ya consolidada, pretende ser un punto de encuentro para la presentación de cortometrajes vinculados con
          la arqueología y la historia procedentes de diversas zonas, con el fin de poder mostrar al público de una forma
          visual los diferentes proyectos de investigación que se llevan a cabo, yacimientos existentes, problemas de conservación
          y preservación, etc, otorgando a la arqueología y el patrimonio de una vida necesaria para hacer partícipe al público
          de estos trabajos e investigaciones.
        </p>
        <a class="plusinfo" href="https://arqueocine.jimdo.com/" target="_blank">Más información</a>
      </div>
      <div class="map-event">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47808.34725069453!2d-5.779555485959041!3d41.5038044887898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd391e3bc094f817%3A0x3fb3a56a82306b25!2sZamora!5e0!3m2!1ses!2ses!4v1511521323830"
          width="600" height="450" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="footer-event parent clear">
      <div class="siteinfo col-50 left">
        <div class="button">
          <a href="site.html">Info del yacimiento</a>
        </div>
      </div>
      <div class="join col-50 right">
        <div class="button">
          <a href="#join">Apúntate</a>
        </div>
      </div>
    </div>
  </div>
</div>