<header>
<div class="wrapper">
  <div class="nav-menu parent">
    <div class="col-25">
      <!--MENU HAMBURGUESA -->
      <nav class="dropdown">
    <div id="dropButton" class="dropdownButton"><span class="fas fa-bars" aria-hidden="true"></span></div>
      <div id="dropContent" class="dropdownContent">
        <ul>
          <!-- Ayuda -->
          <!-- Trigger: open modal with id="myBtn" --> 
          <li><a href="#" id="myBtn"><span class="fas fa-question-circle" aria-hidden="true"></span>Ayuda</a></li>
          <!-- Mapa Buscador -->
          <li><a href="index_alt.html"><span class="fas fa-map-marker" aria-hidden="true"></span>Mapa Buscador</a></li>
          <!-- Agenda -->
          <li><a href="calendar.html"><span class="fas fa-calendar" aria-hidden="true"></span>Agenda</a></li>
          <!-- Mi Perfil -->
          <li><a href="profile.html"><span class="fas fa-user" aria-hidden="true"></span>Mi Perfil</a></li>
          <!-- Listado de Yacimientos -->
          <li><a href="site.html"><span class="fas fa-list-alt" aria-hidden="true"></span>Listado de Yacimientos</a></li>
          <!-- Listado de Eventos -->
          <li><a href="event.html"><span class="fas fa-users" aria-hidden="true"></span>Listado de Eventos</a></li>
          <!-- Salir -->
          <li><a href="index.html"><span class="fas fa-times-circle" aria-hidden="true"></span>Salir</a></li>
        </ul>
      </div>
  </nav>
</div>

  <div class="col-25 logo hide right">
      <a href="index.html"><img src="assets/logo.png" alt="MOLARQ" /></a>
      </div>
  <div class="links col-50 right">
    <ul class="nav">
            <li><a href="calendar.html"><span class="link-menu">Agenda</span><span class="far fa-calendar-alt" aria-hidden="true"></span></a></li>
            <li><a href="register.html"><span class="link-menu">Registro</span><span class="far fa-user" aria-hidden="true"></span></a></li>
            <li><a href="login.html"><span class="link-menu">Entrar</span><span class="fas fa-expand" aria-hidden="true"></span></a></li>
    </ul>
  </div>
  </div>
    <!-- VENTANA MODAL -->
   <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close fa fa-times"></span>
      <p>¿Perdido y desconsolado en el mundo de Molarq?</p>
      <p>!Esperamos que este sencillo vídeo tutorial te ayude a encontrar el camino¡</p>
      <video controls>
        <source src="https://youtu.be/XCqDWVFjcLA" type="video/mp4"/>
      Your browser does not support the video tag.
      </video>
      <div><a href="https://youtu.be/XCqDWVFjcLA" target="_blank">Ver vídeo en ventana nueva</a></div>
    </div>

  </div>
</div>
</header>