<div class="main parent">
  <div class="wrapper">
    <div>
      <div class="col-50">
        <h2>
          <a href="event.html">3er Festival de Cine Arqueológico</a>
        </h2>
        <p class="date-event">06/04/2018</p>
      </div>
      <div class="col-50">
        <h2>Visita al Teatro Romano de Mérida</h2>
        <p class="date-event">02/02/2018</p>
      </div>
      <div class="col-50">
        <h2>Visita a Medina Azahara</h2>
        <p class="date-event">03/03/2018</p>
      </div>
      <div class="col-50">
        <h2>Visita al Parque de Recópolis</h2>
        <p class="date-event">04/04/2018</p>
      </div>
    </div>
    <div class="calendar">
      <span class="fas fa-calendar-alt"></span>
    </div>
  </div>


</div>