<app-menu-private></app-menu-private>

<!--   REGISTER FORM-->
<div class="main parent clear">
  <div class="wrapper">

    <form id="registration" name="formularioRegistro" action="login.html" onsubmit="return validar(event)">
      <!-- data-parsley-validate="" -->

      <!--    Nombre y Apellidos    -->
      <div class="formfield">
        <div class="col-50">
          <label for="username">Nombre y Apellidos</label>
        </div>
        <div class="col-50">
          <input type="text" class="form-control" id="username" name="username" maxlength="20" placeholder="Escriba su nombre aquí"
            required />
        </div>
      </div>

      <!--        Email-->
      <div class="formfield">
        <div class="col-50">
          <label for="usermail">Email</label>
        </div>
        <div class="col-50">
          <input type="email" class="form-control" id="usermail" name="usermail" maxlength="255" placeholder="Escriba su email aquí"
            required />
        </div>
      </div>

      <!--        Contraseña-->
      <div class="formfield">
        <div class="col-50">
          <label for="userpass">Contraseña</label>
        </div>
        <div class="col-50">
          <input type="password" class="form-control" id="userpass" name="userpass" maxlength="20" placeholder="Escriba su contraseña aquí"
            required />
        </div>
      </div>

      <!--        Confirmar Contraseña-->
      <div class="formfield">
        <div class="col-50">
          <label for="userpass2">Confirmar Contraseña</label>
        </div>
        <div class="col-50">
          <input type="password" class="form-control" id="userpass2" name="userpass2" maxlength="20" placeholder="Escriba su contraseña aquí"
            required />
        </div>
      </div>

      <!--        UserName-->
      <div class="formfield">
        <div class="col-50">
          <label for="usernick">Nombre de usuario</label>
        </div>
        <div class="col-50">
          <input type="text" class="form-control" id="usernick" name="usernick" maxlength="20" placeholder="Escriba su user name aquí"
            required />
        </div>
      </div>

      <!--        Ocupación-->
      <div class="formfield">
        <div class="col-50">
          <label for="occupation">Ocupación</label>
        </div>
        <div class="col-50">
          <div class="select">
            <select name="occup" class="form-control" id="occupation" required>
              <option value="" selected>Seleccione ocupacion</option>
              <option value="1">Turista - Aficionado</option>
              <option value="1">Estudiante en el campo</option>
              <option value="2">Guía Turística</option>
              <option value="3">Profesional en el campo</option>
              <option value="4">Docente en el campo</option>
            </select>
          </div>
        </div>
      </div>

      <!--        Fecha de Nacimiento-->
      <div class="formfield">
        <div class="col-50">
          <label for="userbdate">Fecha de Nacimiento</label>
        </div>
        <div class="col-50">
          <input type="date" class="form-control" id="userbdate" name="userbdate" required>
        </div>
      </div>

      <!--        Subir Imagen-->
      <!--         <div class="formfield">
          <div class="col-50">
            <label for="userphoto">Subir Imagen</label>
          </div>
          <div class="col-50">
            <input type="file" class="form-control" id="userphoto" name="userphoto" accept="image/*" />
          </div>
        </div> -->

      <!--        Acepto las condiciones-->
      <div class="formbutton">
        <div class="col-50">
          <label for="tos">Acepto las políticas de uso</label>
        </div>
        <div class="col-50">
          <input type="checkbox" name="tos" id="tos" value="2" required>
        </div>
      </div>

      <!--        Enviar-->
      <div class="row">
        <div class="col-50">
          <input type="reset" id="deleteLocalStorage" class="formbutton formcentre" />
        </div>
        <div class="col-50">
          <input type="submit" id="submit1" />
        </div>
      </div>
    </form>

  </div>
</div>